# Godot 4+ specific ignores
.godot/
/android/

# Blender specific ignores
*.blend1

# Ignore backups and temporary files
*~
*.bak

# Downloaded Godot binaries
godot
Godot_v*.zip
Godot_v*.zip*

# Ignore godot project settings overrides
override.cfg
